pick up space rocket fuel @JPL
refuel rocket @home
milk cows @home
become more ninja @dojo
become a master at laser tag @laser-dojo
use the force @laser-dojo
implement EVERYTHING in todo.hs. yes, I want email @net @laptop
