x (A) enjoy the little things
pick up space rocket fuel @JPL
refuel rocket @home
milk cows @home
x (D) become more ninja @dojo
become a master at laser tag @laser-dojo
(B) use the force @laser-dojo
(A) implement EVERYTHING in todo.hs. yes, I want email @net @laptop
