(A) implement EVERYTHING in todo.hs. yes, I want email @net @laptop

pick up space rocket fuel @JPL +space-trip
book 0-g training @net +space-trip
refuel rocket @home +space-trip

(A) enjoy the little things
milk cows @home

(D) become more ninja @dojo
x become a master at laser tag @laser-dojo
(B) use the force @laser-dojo
